* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(15, 16, 24);
}

main {
    width: 100%;
    max-width: 1100px;
    margin: 32px auto;
}

movie-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 32px;
    padding: 16px;
}

movie-item {
    max-width: 200px;
    margin: 5px;
}

.grad1 {
    margin-left: -12px;
    margin-bottom: -12px;
    margin-right: -12px;
    padding: 5px;
    background-color: #00000040;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0));
    /* Standard syntax (must be last) */
}

@media only screen and (max-width: 600px) {
    main {
        margin: -25px 0 0 0;
    }

    movie-item {
        max-width: 450px;
        margin: 5px;
    }
}